{% extends "base.html" %}

{% block content_creation %}
<style>
  body.descripcion {
    margin-top: 100px;
  }
</style>

<body class="descripcion">
  <h1>Soy estudiante de programación y sistemas en UTN-FRA.</h1>
  <p>Me considero una persona proactiva y con incentivo. 
    Aspiro al desarrollo en un marco laboral competitivo,
      donde el trabajo en equipo y el aprendizaje sean continuos,
    constantes y recíprocos. Cuento con la intención
      y motivación en pos de un constante crecimiento personal y laboral.</p>
</body>
{% endblock %}
